.color-me1 {
  color: #ebebeb;
  padding: 5px;
}
.color-me {
  color: #ebebeb;
  border-left: solid black 1px;
  padding: 5px;
  font-family:

}
.navbar-brand {
  background-color: #4aaaa5;
  margin-left: 10%;
  height: 50px;
  padding: 20px;
  color: #FFFFFF !important;
  font-family: serif;
  font-weight: bold;
  font-size: 1.75em;
  height: 20%;
}
.navbar {
  background-color: #ffffff;
  border-bottom: 2px solid #cccccc;
  padding: 0;
  position: relative;

}

.navbar-nav {
  margin-left: 50%;
  position: absolute;
  background-color: #FFFFFF;
}

.abt {
  margin-bottom: 20px;
  border-bottom: solid #ebebeb 2px;
  color: #4aaaa5;
  font-family: serif;
}

.me {
  margin-right: 10px;
}

.container {
  background-color: #ffffff;
}

.text{
  line-height: 3rem;
  text-indent: 1.5rem;

}

.text2{
  line-height: 3rem;
  margin-top: 2%;
}

.cntct{
  padding: 20px;
  text-indent: 5%;
  color: #4aaaa5;
  margin: 5px;
  margin-bottom: 20px;
  border-bottom: solid #ebebeb 2px;
}

.btn {
  background-color: #4aaaa5;
  border-color: #4aaaa5;
}

.btn:hover {
  background-color: #ebebeb;
  border-color: #ebebeb;
}

.card-title {
  margin:0;
  background-color: #4aaaa5;
  color: white;
  text-align: center;
}

.card {
  margin: 10px;
}
